################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################
.vs
packages
WordOpenXmlFormApp/obj
WordOpenXmlFormApp/bin
WordOpenXmlClassLibrary/obj
WordOpenXmlClassLibrary/bin
.vs/WordOpenXmlFormApp/v16/.suo
WordOpenXmlClassLibrary/obj/Debug/WordOpenXmlClassLibrary.csproj.FileListAbsolute.txt
WordOpenXmlFormApp/obj/Debug/WordOpenXmlFormApp.csprojAssemblyReference.cache
.vs/WordOpenXmlFormApp/v16/.suo
